.list-container{
    display: flex;
    width: 100%; 
    justify-content: center;
}
.list-block{
    display: block;
    min-width: 250px; 
    background-color: rgb(231, 245, 221); 
    border-radius: 6px; 
    margin: 10px; 
    padding: 10px; 
    cursor: pointer;  
}
.list-block .menu{
    display: flex; 
    padding: 5px; 
}
.delete-btn{
    display: block; 
    width: 15px; 
    height: 15px; 
    background-color: rgba(255, 68, 0, 0.854); 
    border-radius: 50%; 
}
.delete-btn:hover{
    background-color: red; 
    cursor: pointer; 
}
.list-block .price-tag{
    font-size: 4em; 
}
.list-block .title{
    font-size: 1.5em; 
}
