body{
    background-color: black; 
}
.cat-container{
    display: flex; 
    flex-wrap: wrap; 
}
.cat-box{
    display: inline-flex; 
    width: 300px; 
    height: 100px; 
    background-color: royalblue; 
    margin: 10px; 
    font-family: sans-serif; 
    color: white; 
    font-size: 1.5em; 
    justify-content: center;
    align-items: center; 
    cursor: pointer; 
}

.cat-container a:hover{
    text-decoration: none; 
}