<!doctype html> 
<html> 
    <head>
        <title>{{ title }}</title>
        <style>
            body{
                background-color: rgb(250, 91, 91); 
                overflow: hidden; 
            }
            .container{
                display: inline-flex; 
                width: 100%;  
                align-items: center; 
                justify-content: center;
                position: absolute; 
                top: 170px; 
                color: white; 
            }
            .container h3{
                color: rgb(246, 247, 184); 
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Wiki "{{ title }}"</h1>
            <h3> Not Found..</h3>
        </div>
    </body>
</html>