{% extends "network/layout.html" %}

{% block body %}
    <div class="create-post-wrapper">
        <h5 style="margin-left: 1rem">Create Post ✍️ </h5>
        <div class="create-post-frame">
            <div class="form-group">
                <textarea class="form-control" id="newPostContent" rows="7"></textarea>
            </div>
        </div>
        <button type="button" class="btn btn-secondary" style="margin-left: 1rem" onclick="createPost()">Post</button>
    </div>
    <div class="page-title" style="margin-left: 1rem">
        <h1>All Posts</h1>
    </div>
    <div class="posts-wrapper">
        <!-- JS fetched posts goes here -->
    </div>

    <!-- Pagination -->
    <span class="pagination-posts">
        <ul class="pagination justify-content-left" style="margin-left: 3rem">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </span>

    <div class="profile-info-wrapper">
        <div class="main-wrapper">
            <h3 id="profile-info-username"></h3>
            <button type="button" class="btn btn-secondary">Follow</button>
            <div class="posts-container">
                <!-- JS fetched components goes here -->
            </div>

            <!-- Pagination -->
            <span class="pagination-posts">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </span>
        </div>
    </div>
{% endblock %}