{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
    <div class="create-post-wrapper">
        <h5 style="margin-left: 1rem">Create Post ✍️ </h5>
        <div class="create-post-frame">
            <div class="form-group">
                <textarea class="form-control" id="newPostContent" rows="7"></textarea>
            </div>
        </div>
        <button type="button" class="btn btn-secondary" style="margin-left: 1rem" onclick="createPost()">Post</button>
    </div>
    {% endif %}
    <div class="page-title" style="margin-left: 1rem">
        <h1 class="page-heading">All Posts</h1>
    </div>
    <div class="posts-wrapper">
        <!-- JS fetched posts goes here -->
    </div>

    <!-- Pagination -->
    <span class="pagination-posts">
    </span>

    <div class="profile-info-wrapper">
        <div class="main-wrapper">
            <h3 id="profile-info-username"></h3>
            <span class="follow-btn-container"></span>
            <h6 style="margin-top: 0.6rem"><b><span class="n-followers"></span></b> followers</h6>
            <h6 style="margin-top: 0rem"><span class="n-following"></span> following</h6>
            <div class="posts-container">
                <!-- JS fetched components goes here -->
            </div>

            <!-- Pagination -->
            <span class="profile-pagination-posts">
            </span>
        </div>
    </div>
{% endblock %}