{% extends "auctions/layout.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'auctions/categories.css' %}" rel="stylesheet"> 
{% endblock %}

{% block body %}
    <div class="cat-container">
        {% for cat in categories %}
            <a href="/categories/{{ cat.category }}">
                <div class="cat-box">
                    {{ cat.category }}
                </div>    
            </a> 
        {% endfor %}
    </div> 
    <script> 
        var colors = ["#5B5EA6", "#55B4B0", "#98B4D4", "#C3447A", "#BC243C", "#6B5B95", "#34568B", "#ff1d58", "#f75990", "#0049B7"]; 
        var boxes = document.getElementsByClassName("cat-box"); 
        for(var i=0; i<boxes.length; i++){
            var randomIndex = Math.floor(Math.random() * 10); 
            boxes[i].style.backgroundColor=colors[randomIndex]; 
        }
    </script> 
{% endblock %}