{% extends "auctions/layout.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'auctions/listings.css' %}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script> 
        var nBids = "{{ nBids }}"; 
    </script> 
{% endblock %}

{% block body %}
    <h2 style="margin-bottom: 20px;">Listings: {{ data.title }} </h2>
    {% if signedIn %}
        {% if not watchListed %}
            <button type="btn" class="btn btn-dark" style="margin-bottom: 20px; font-size: 0.9em;" id="not-watched">add to watchlist</button>
            <button type="btn" class="btn btn-danger" style="margin-bottom: 20px; font-size: 0.9em; display: none; " id="watched">remove from watchlist</button>
        {% else %}
            <button type="btn" class="btn btn-danger" style="margin-bottom: 20px; font-size: 0.9em;" id="watched">remove from watchlist</button>
            <button type="btn" class="btn btn-dark" style="margin-bottom: 20px; font-size: 0.9em; display: none; " id="not-watched">add to watchlist</button>
        {% endif %}
    {% endif %}

    <script> 

        function addWatchList(url="", data={}){
            $.post(url, data);             
        }

        document.getElementById("not-watched").addEventListener("click", function(){
            document.getElementById("not-watched").style.display="none"; 
            document.getElementById("watched").style.display="block"; 
            // send post request
            const api_url = "/api/add/watchlist"; 
            var item_id = "{{ list_id }}"; 
            var curr_user = "{{ username }}"; 
            addWatchList(api_url, {
                "csrfmiddlewaretoken": "{{ csrf_token }}", 
                "id" : item_id, 
                "user" : curr_user
            }); 
        });
        document.getElementById("watched").addEventListener("click", function(){
            document.getElementById("not-watched").style.display="block"; 
            document.getElementById("watched").style.display="none"; 
            // send post request
            const api_url = "/api/remove/watchlist"; 
            var item_id = "{{ list_id }}"; 
            var curr_user = "{{ username }}"; 
            addWatchList(api_url, {
                "csrfmiddlewaretoken": "{{ csrf_token }}", 
                "id" : item_id, 
                "user" : curr_user
            });
         });
    </script> 

    <div class="listing-data">
        <div class="tags"></div>
        <img src="{{ data.pic_url }}">
        <div class="data">
            <h4>{{ data.title }}</h4>
            {% if isOwner %}
                {% if biddingClosed == False %}
                    <img src="{% static 'images/stop.png' %}" style="width: 40px; cursor: pointer;" id="bid-close-btn"/>
                {% endif %}
            {% endif %}
            <script>
                var item_id = "{{ list_id }}"; 
                function closeBidding(url="", data={}){
                    $.post(url, data);             
                }
                document.getElementById("bid-close-btn").addEventListener("click", function(){
                    var close_bid_url = "/api/close/bid"; 
                    document.getElementById("bid-close-btn").style.display="none"; 
                    closeBidding(close_bid_url, {
                        "csrfmiddlewaretoken": "{{ csrf_token }}", 
                        "id" : item_id
                    }); 
                }); 
            </script>
            <h2 id="currentBid">${{ data.currentBid }}</h2>
            <p><span id="nRecords">{{ nBids }}</span> bid(s) so far. 
                {% if currentBidYours and biddingClosed %}
                    <span style="color: green;" id="bid-status">You won the bid 🥂 </span>
                {% elif currentBidYours %} 
                    <span style="color: green;" id="bid-status">Your bid is the current bid 👍 </span>
                {% else %}
                    <span style="color: green; display: none;" id="bid-status">Your bid is the current bid 👍 </span>
                {% endif %}
             </p>
            {% if signedIn and not biddingClosed %}
            <input type="number" placeholder="Bid" id="bid-inp" min="{{ data.currentBid }}">
            <button type="button" id="bid-btn">Place Bid</button> 
            <script>
                const bid_add_url = "/api/add/bid"; 
                function addBid(url="", data={}){
                    $.post(url, data);             
                }
                document.getElementById("bid-btn").addEventListener("click", function(){
                    // get the value of the input box 
                    var bidVal = document.getElementById("bid-inp").value; 
                    var item_id = "{{ list_id }}"; 
                    var curr_user = "{{ username }}"; 
                    addBid(bid_add_url, {
                        "csrfmiddlewaretoken": "{{ csrf_token }}", 
                        "id" : item_id, 
                        "user" : curr_user, 
                        "bid" : bidVal
                    });        
                    // update view
                    document.getElementById("currentBid").innerHTML = "$" + bidVal + ".0";  
                    document.getElementById("bid-status").style.display = "inline-block"; 
                    nBids++; 
                    document.getElementById("nRecords").innerHTML = nBids; 
                }); 
            </script>
            {% endif %}
            <h3 style="margin-top: 20px;">Details</h3>
            <ul>
                <li>Listed by: <a href="#">{{ username }}</a></li>
                <li>Description: {{ data.description }}</li>
            </ul>
            {% if signedIn %}
            <div class="comment-space">
                <div class="comment-input form-group">
                    <form action="/api/add/comment" method="post">
                        {% csrf_token %}
                        <textarea class="form-control" name="comment-text" id="comment-desc"></textarea>
                        <input type="text" name="list_id" style="display: none;" value="{{ data.id }}">
                        <button type="submit" class="btn btn-info" id="comment-submit-btn">Comment</button> 
                    </form>
                </div>         
                {% for comment in comments %}
                    <div class="comment-view-block">
                        <div class="commenter-username">
                            {{ comment.user.username }}
                        </div>  
                        <div class="comment-time">
                            {{ comment.created_date }}
                        </div>
                        <div class="comment">
                            {{ comment.comment }}
                        </div>
                    </div> 
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    
{% endblock %}