{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .edit-btn{
            display: inline-block;
            background-color: rgb(94, 231, 94); 
            border: none; 
            border-radius: 10px;
            margin: 5px; 
        }
        .edit-btn:hover{
            background-color: rgb(151, 252, 151);
        }
        .remove-btn{
            display: inline-block; 
            border: none; 
            background-color: rgb(228, 101, 101);
            border-radius: 10px; 
            margin: 5px;    
        }
        .remove-btn:hover{
            background-color: rgb(255, 35, 35);
        }
        .wiki-blog{
            display: flex; 
            padding: 10px; 
            justify-content: space-between;
        }
        form{
            display: inline-block;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>All Pages</h1>

    <ul>
        {% for entry in entries %}
            <div class="wiki-blog">
                <a href="{% url 'loadpage' filename=entry %}">
                    <li>{{ entry }}</li>
                </a>
                <div class="controls">
                    <a href="{% url 'editentry' filename=entry %}">
                        <button class="edit-btn">Edit</button>
                    </a>
                    <form action="/api/delete" method="post">
                        {% csrf_token %}
                        <input type="text" value="{{ entry }}" name="filename" style="display: none;">
                        <button type="submit" class="remove-btn">Remove</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </ul>
{% endblock %}